.landing-container {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    text-align: center;
  }
  
  .landing-content {
    text-align: center;   
    margin-top: auto;
    margin-bottom: auto;
  }
  
 